:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #260126; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

body {
  margin: 0;

  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.github {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 200;
  /* background-color: #260126; */
  border: 1px solid rgb(216, 216, 216);
  color: #260126;
  width: 100%;
  margin: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  box-shadow: -1px -1px 84px -16px #2601264f;
  backdrop-filter: blur(5px);
}
.navbar p {
  margin-bottom: 2px;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar i {
  font-size: 2.5rem;
}
.card__section {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 1rem;
  max-width: 70rem;
  justify-content: space-between;
}
.card {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.733);
  backdrop-filter: blur(10px);
  /* border: 2px solid #f0c681; */
  border-radius: 10px;
  margin: 1rem 10px;
  color: #260126;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 1 0 20rem;
  box-shadow: 4px 4px 0 0 #260126;
}
.card__head {
  font-weight: 700;
  color: white;
  color: #260126;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  text-transform: capitalize;
  border: 1px solid rgb(216, 216, 216);
  background-color: #26012617;
  /* background-color: #260126; */
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px !important;
  /* width: 92.5%; */
}
.card-body {
  padding: 1rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  color: #260126;
}
.card__text {
  text-align: left;
}
.card__title {
  text-align: left !important;
}
.card__btn {
  text-align: center;
  padding: 6px 14px;
  display: flex;
  border-radius: 3px;
  border: none;
  color: black;
  background-color: #2601268c;
  /* width: 100%; */
  transition: 200ms all ease-in-out;
}
.card__link {
  color: rgb(255, 243, 243);
  text-align: center;
  padding: 0 35%;
  font-size: 0.9rem;
}
.card__btn:hover {
  background-color: #260126;
}
/* repo page */
.repo {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #260126;
  border-radius: 15px;
  color: #260126;
  max-width: 40rem;
  padding: 0.1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.733);
  backdrop-filter: blur(5px);
  margin: 3rem auto;
  box-shadow: 5px 5px 0 0 #260126;
}
.repo__head {
  background-color: #260126;
  color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  margin: 1rem 0 2rem;
}
.repo__menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.repo__list i {
  margin: 0 5px;
}
.repo__details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #260126;
  align-items: center;
}
.repo__details p {
  margin: 0;
  padding: 10px;
}
.repo__text1 {
  font-weight: 600;
  text-transform: uppercase;
}
.repo__button {
  color: white;
  padding: 6px 16px;
  margin: 0.8rem 0 0;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #260126;
  /* border: none; */
  background-color: #2601267c;
  /* background: none; */
  transition: 200ms ease-in-out all;
}
.repo__button:hover {
  background-color: #260126;
}
.pagination {
  /* border-color: #260126; */
  color: white;
}
.page-link {
  background-color: #260126;
  color: white;
}
.active {
  background-color: white !important;
}
